@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Playfair+Display:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  padding: 1rem;
  background-color: #fafafa;
  font-size: 14px;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  color: #4f4f4f;
}

a {
  text-decoration: none;
}

main {
  flex: 1;
}
main section {
  margin-bottom: 2rem;
}
main section.head .container {
  display: flex;
  flex-direction: column;
}
main section.head .container h1 {
  font-family: Playfair Display, sans-serif;
  font-size: 1.4rem;
  font-weight: 700;
  color: black;
}
main section.head .container p {
  display: flex;
  width: 260px;
  margin-top: 0.5rem;
  font-size: 0.6rem;
  font-style: italic;
}
main section.head .container p::before {
  content: url("../images/6dots.svg");
  height: 60px;
  padding-right: 0.4rem;
}
main section.head .container img {
  margin-top: 1rem;
  flex: 1 1 40%;
}
main section.body {
  margin: 2rem 0;
  color: #333333;
}
main section.body .container {
  margin-bottom: 1.5rem;
}
main section.body .container h1,
main section.body .container h2 {
  font-family: Playfair Display, sans-serif;
  font-weight: 700;
}
main section.body .container h2 {
  font-size: 1rem;
}
main section.body .container .recipe {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}
main section.body .container .recipe .info .container {
  display: grid;
  gap: 1.5rem;
}
main section.body .container .recipe .info .container .item {
  display: flex;
  align-items: center;
}
main section.body .container .recipe .info .container .item span {
  font-size: 1rem;
}
main section.body .container .recipe .info .container .item .texts {
  display: flex;
  flex-direction: column;
  margin-left: 0.4rem;
}
main section.body .container .recipe .info .container .item .texts small {
  font-size: 0.5rem;
  font-weight: 700;
  color: #bdbdbd;
  text-transform: uppercase;
}
main section.body .container .recipe .info .container .item .texts p {
  font-size: 0.6rem;
  font-weight: 500;
  color: #333333;
}
main section.body .container .recipe .info .container .item:nth-child(1) {
  grid-column: 1/span 4;
}
main section.body .container .recipe .info .container .item:nth-child(1) span {
  color: #f2994a;
}
main section.body .container .recipe .info .container .item:nth-child(1) .texts p {
  color: #f2994a;
}
main section.body .container .recipe .ingredients .ingredient {
  margin-bottom: 2rem;
}
main section.body .container .recipe .ingredients .ingredient p {
  font-family: Playfair Display, sans-serif;
  margin: 0.8rem 0 1.5rem 0;
  font-size: 1rem;
  font-weight: 400;
  font-style: italic;
}
main section.body .container .recipe .ingredients .ingredient .measurement {
  margin-bottom: 1rem;
}
main section.body .container .recipe .ingredients .ingredient .measurement input[type=checkbox] {
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  position: relative;
  transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;
  display: inline-block;
  width: 21px;
  height: 21px;
  margin: 0;
  vertical-align: top;
  border: 1px solid #828282;
  border-radius: 0.2rem;
  cursor: pointer;
  background: #ffffff;
}
main section.body .container .recipe .ingredients .ingredient .measurement input[type=checkbox] + label {
  margin-left: 0.5rem;
  vertical-align: top;
  cursor: pointer;
}
main section.body .container .recipe .ingredients .ingredient .measurement input[type=checkbox]:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.2s;
}
main section.body .container .recipe .ingredients .ingredient .measurement input[type=checkbox]:checked {
  background: #f2994a;
  border-color: #f2994a;
}
main section.body .container .recipe .ingredients .ingredient .measurement input[type=checkbox]:checked::after {
  opacity: 1;
  background: #f2994a;
  width: 5px;
  height: 7px;
  border: 2px solid #ffffff;
  border-top: 0;
  border-left: 0;
  left: 7px;
  top: 3px;
  transform: rotate(42deg);
}
main section.body .container .recipe .ingredients .ingredient .measurement input[type=checkbox]:focus {
  box-shadow: 0 0 0 2px rgba(254, 204, 39, 0.25);
}
main section.body .container .recipe .ingredients .ingredient .measurement input[type=checkbox]:hover(:not(:checked)) {
  border-color: #f2994a;
}
main section.body .container .instructions ol {
  padding-left: 1rem;
  margin-top: 1.3rem;
  counter-reset: listInstructions;
}
main section.body .container .instructions ol li {
  position: relative;
  padding-left: 1.4rem;
  margin-bottom: 1.4rem;
  line-height: 1.5;
  counter-increment: listInstructions;
}
main section.body .container .instructions ol li::before {
  content: "";
  width: 25px;
  height: 25px;
  position: absolute;
  top: 2px;
  left: -15px;
  background-color: #f2994a;
  z-index: -1;
  border-radius: 5px;
}
main section.body .container .instructions ol li::marker {
  content: counters(listInstructions, "");
  font-family: Playfair Display, sans-serif;
  font-size: 1rem;
  font-weight: 700;
  color: #ffffff;
}
main section.body a {
  margin-top: 1rem;
  font-size: 0.7rem;
  color: #bdbdbd;
  font-style: italic;
}
@media (min-width: 768px) {
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
  }
  main section {
    max-width: 800px;
  }
  main section.head .container h1 {
    font-size: 2.5rem;
  }
  main section.head .container p {
    width: 500px;
    margin-top: 1rem;
    font-size: 0.9em;
  }
  main section.body {
    margin: 0;
  }
  main section.body .container h2 {
    font-size: 1.4rem;
  }
  main section.body .container .recipe {
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  main section.body .container .recipe .info {
    width: 20%;
    height: 260px;
    background: #ffffff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 1px 5px 10px 5px rgba(0, 0, 0, 0.25);
  }
  main section.body .container .recipe .info .container {
    gap: 1.8rem;
  }
  main section.body .container .recipe .info .container .item {
    grid-column: 1/span 4;
  }
  main section.body .container .recipe .info .container .item span {
    font-size: 1.1rem;
  }
  main section.body .container .recipe .info .container .item .texts small {
    font-size: 0.6rem;
  }
  main section.body .container .recipe .info .container .item .texts p {
    font-size: 0.8rem;
  }
  main section.body .container .recipe .ingredients {
    width: 70%;
  }
  main section.body .container .recipe .ingredients .ingredient p {
    margin: 1.5rem 0;
  }
  main section.body .container .instructions {
    width: 80%;
  }
}

footer {
  flex: 1;
  padding: 1rem;
  text-align: center;
  font-size: 0.7rem;
  color: #828282;
}
footer a {
  color: #828282;
  font-weight: 700;
}
@media (min-width: 768px) {
  footer {
    font-size: 0.8rem;
    margin-top: 3rem;
  }
}

/*# sourceMappingURL=style.css.map */
