@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Playfair+Display:wght@400;700&display=swap");

@import "variables";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;

  height: 100vh;

  width: 100%;

  padding: 1rem;

  background-color: map-get($map: $colors, $key: "grey.200");

  font-size: 14px;
  font-family: map-get($map: $fonts, $key: "montserrat");
  font-weight: 400;
  color: map-get($map: $colors, $key: "grey.300");
}

a {
  text-decoration: none;
}

main {
  flex: 1;

  //display: flex;
  // align-items: center;
  // justify-content: center;

  section {
    margin-bottom: 2rem;

    &.head {
      .container {
        display: flex;
        flex-direction: column;

        h1 {
          font-family: map-get($map: $fonts, $key: "playfair");
          font-size: 1.4rem;
          font-weight: 700;
          color: black;
        }

        p {
          display: flex;

          width: 260px;

          margin-top: 0.5rem;
          font-size: 0.6rem;
          font-style: italic;

          &::before {
            content: url("../images/6dots.svg");
            height: 60px;
            padding-right: 0.4rem;
          }
        }

        img {
          margin-top: 1rem;
          flex: 1 1 40%;
        }
      }
    }

    &.info {
      margin-top: 1.8rem;

      .container {
        display: grid;
        // grid-template-columns: repeat(4, minmax(auto, 1fr));
        gap: 1.5rem;

        .item {
          display: flex;
          align-items: center;

          span {
            font-size: 1rem;
          }

          .texts {
            display: flex;
            flex-direction: column;
            margin-left: 0.4rem;

            small {
              font-size: 0.5rem;
              font-weight: 700;
              color: map-get($map: $colors, $key: "grey.100");
              text-transform: uppercase;
            }
            p {
              font-size: 0.6rem;
              font-weight: 500;
              color: map-get($map: $colors, $key: "grey.500");
            }
          }

          &:nth-child(1) {
            grid-column: 1 / span 4;

            span {
              color: map-get($map: $colors, $key: "orange.500");
            }
            .texts {
              p {
                color: map-get($map: $colors, $key: "orange.500");
              }
            }
          }
        }
      }
    }

    &.body {
      margin: 2rem 0;
      color: map-get($map: $colors, $key: "grey.500");

      .container {
        margin-bottom: 1.5rem;

        h1,
        h2 {
          font-family: map-get($map: $fonts, $key: "playfair");
          font-weight: 700;
        }

        h2 {
          font-size: 1rem;
        }

        .ingredients {
          .ingredient {
            margin-bottom: 2rem;

            p {
              font-family: map-get($map: $fonts, $key: "playfair");
              margin: 0.8rem 0 1.5rem 0;
              font-size: 1rem;
              font-weight: 400;
              font-style: italic;
            }

            .measurement {
              margin-bottom: 1rem;

              input[type="checkbox"] {
                -webkit-appearance: none;
                -moz-appearance: none;
                outline: none;
                position: relative;
                transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;

                display: inline-block;
                width: 21px;
                height: 21px;
                margin: 0;
                vertical-align: top;
                border: 1px solid map-get($map: $colors, $key: "grey.400");
                border-radius: 0.2rem;
                cursor: pointer;
                background: map-get($map: $colors, $key: "white");

                & + label {
                  margin-left: 0.5rem;
                  vertical-align: top;
                  cursor: pointer;
                }

                &:after {
                  content: "";
                  display: block;
                  position: absolute;
                  left: 0;
                  top: 0;
                  opacity: 0;
                  transition: transform 0.3s ease, opacity 0.2s;
                }

                &:checked {
                  background: map-get($map: $colors, $key: "orange.500");
                  border-color: map-get($map: $colors, $key: "orange.500");

                  &::after {
                    opacity: 1;
                    background: map-get($map: $colors, $key: "orange.500");
                    width: 5px;
                    height: 7px;
                    border: 2px solid map-get($map: $colors, $key: "white");
                    border-top: 0;
                    border-left: 0;
                    left: 7px;
                    top: 3px;
                    transform: rotate(42deg);
                  }
                }

                &:focus {
                  box-shadow: 0 0 0 2px rgba(254, 204, 39, 0.25);
                }

                &:hover(:not(:checked)) {
                  border-color: map-get($map: $colors, $key: "orange.500");
                }
              }
            }
          }
        }

        .instructions {
          ol {
            padding-left: 1rem;
            margin-top: 1.3rem;
            counter-reset: listInstructions;

            li {
              position: relative;
              padding-left: 1.4rem;
              margin-bottom: 1.4rem;
              line-height: 1.5;
              counter-increment: listInstructions;

              &::before {
                content: "";
                width: 25px;
                height: 25px;
                position: absolute;
                top: 2px;
                left: -15px;
                background-color: map-get($map: $colors, $key: "orange.500");
                z-index: -1;
                border-radius: 5px;
              }
              &::marker {
                content: counters(listInstructions, '');
                font-family: map-get($map: $fonts, $key: "playfair");
                font-size: 1rem;
                font-weight: 700;
                color: map-get($map: $colors, $key: "white");
              }
            }
          }
        }
      }

      a {
        margin-top: 1rem;
        font-size: 0.7rem;
        color: map-get($map: $colors, $key: "grey.100");
        font-style: italic;
      }
    }
  }
}

footer {
  flex: 1;
  // height: 40px;
  padding: 1rem;
  text-align: center;
  font-size: .8rem;
  color: map-get($map: $colors, $key: "grey.400");

  a {
    color: map-get($map: $colors, $key: "grey.400");
    font-weight: 700;
  }
}
